.sidebar
    a(class="active" href="/clientManage/clientList") 客户列表
    a(class="" href="/clientManage/chiCangSearch") 持仓查询
    a(class="" href="/clientManage/pingCangSearch") 平仓查询
    a(class="" href="/clientManage/chuRuJinSearch") 出入金查询