.sidebar
    a(class="#{ level[1] == 1 ? 'active' : '' }" href="/countManage/countTable") 统计报表
    a(class="#{ level[1] == 2 ? 'active' : '' }" href="javascript:;") 机构结算
    a(class="#{ level[1] == 3 ? 'active' : '' }" href="javascript:;") 经纪人结算
