.sidebar
    a(class="#{ level[1] == 1 ? 'active' : '' }" href="/accountManage/orgManage") 机构管理
    a(class="#{ level[1] == 2 ? 'active' : '' }" href="/accountManage/userManage") 用户管理
    a(class="#{ level[1] == 3 ? 'active' : '' }" href="/accountManage/brokerManage") 经纪人管理
    //a(class="#{ level[1] == 4 ? 'active' : '' }" href="/accountManage/wqManage") 微圈管理