.sidebar
    a(class="#{ level[1] == 1 ? 'active' : '' }" href="/clientManage/clientList") 客户列表
    a(class="#{ level[1] == 2 ? 'active' : '' }" href="/clientManage/chiCangSearch") 持仓查询
    a(class="#{ level[1] == 3 ? 'active' : '' }" href="/clientManage/pingCangSearch") 平仓查询
    a(class="#{ level[1] == 4 ? 'active' : '' }" href="/clientManage/chuRuJinSearch") 出入金查询