extends ../../layout
block stylesheets
    link(rel="stylesheet", href="/css/index.min.css")
block content
    include ../../includes/header
    .main
        include ../../includes/sidebarAccount
        .content
            .search-bar
                select(name="wqType")
                    option(value="") 微圈类型
                    option(value="") 注册会员
                    option(value="") 经纪人
                input(type="text" placeholder="机构名称")
                input(type="text" placeholder="关键字：微圈名称")
                a.btn(href="javascript:;") 查询
            include ../../includes/controlBar
            .data-container
                table
                    tr
                        th
                            input(type="checkbox")
                        th 微圈名称
                        th 微圈类型
                        th 所属机构
                        th 管理经纪人
                        th 状态
                        th 佣金比例
                        th 操作
                    - var list = [1,2,3,4,5,6,7,8,9,10]
                    for i in list
                        tr
                            td
                                input(type="checkbox")
                            td 杭州市下城区圈
                            td 航空
                            td 华通
                            td 张三
                            td 有效
                            td 3%
                            td
                                a(href="javascript:;") 修改
                                span |
                                a(href="javascript:;") 重置密码
                .pagination

block scripts
    script.
        require(['common'], function () {
            require(['page/orgManage']);
        });