extends ../../layout
block stylesheets
    link(rel="stylesheet", href="/css/index.min.css")
block content
    include ../../includes/header
    .main
        include ../../includes/sidebarCount
        .content
            .control-bar
                a.btn(href="javascript:;") 客户
                a.btn(href="javascript:;") 经纪人
                a.btn(href="javascript:;") 微圈
            .search-bar
                | 时间:
                input(type="text")
                | -
                input(type="text")
                input(type="text" placeholder="关键字：机构名称")
                input(type="text" placeholder="上级机构")
                input(type="text" placeholder="昵称")
                input(type="text" placeholder="手机号码")
                a.btn(href="javascript:;") 查询
                a.btn(href="javascript:;") 导出EXL
            .data-container
                .count-table
                    table
                        thead
                            tr
                                th 交易时间
                                th 交易用户名称
                                th 交易商品名称
                                th 买卖方向
                                th 收益
                        tbody
                .pagination

block scripts
    script.
        require(['common'], function () {
            require(['page/countTable']);
        });