extends ../../../layout
block stylesheets
    link(rel="stylesheet", href="/css/index.min.css")
block content
    include ../../../includes/header
    .main
        include ../../../includes/sidebarClient
        .content
            .control-bar
                | 客户信息 &nbsp;&nbsp;
                | 昵称：
                em 王努努
                | &nbsp;&nbsp; 手机号码：
                em 13812923232
                | &nbsp;&nbsp;
                a.btn(href="javascript:;") 重置密码
            .search-bar
                label 类型：
                select(name="type")
                    option(value="0") 全部
                    option(value="1") 入金
                    option(value="2") 出斤
                input#dateStart.picker(type="text" placeholder="开始时间")
                span --
                input#dateEnd.picker(type="text" placeholder="结束时间")
                a.btn(href="javascript:;") 查询

            .data-container
                .tab-btns
                    a(href="/clientManage/clientListView/buyLog") 购买记录
                    a(href="/clientManage/clientListView/chuRuJinLog") 出入金记录
                    a(href="/clientManage/clientListView/wasteBook") 资金流水
                    a.active(href="/clientManage/clientListView/moneyLog") 资金记录
                table
                    tr
                        th 日期
                        th 交易订单号
                        th 交易类型
                        th 金额(元)
                        th 状态
                        th 平台审核状态
                        th 备注
                    - var list = [1,2,3,4,5,6,7,8,9,10]
                    for i in list
                        tr
                            td 2016-10-12
                            td AS1223901
                            td 入金
                            td 1000
                            td 平台处理中
                            td 未审核/已审核
                            td 买涨

                .pagination

block scripts
    script.
        require(['common'], function () {
            require(['page/clientList']);
        });